<div class="card">
    <div class="card-header">
        <i class="fa fa-align-justify"></i> <%= FileImportSession.model_name.human.pluralize%> 
    </div>
    <div class="card-body">
        <table class="table table-responsive-sm table-striped">
            <thead>
                <tr>
                    <th><%= t 'activerecord.attributes.file_import_session.file_name'%></th>
                    <th><%= t 'activerecord.attributes.file_import_session.created_at'%></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% cache(@file_import_sessions) do%>
                    <% @file_import_sessions.each do |file_import_session| %>
                    <tr title="<%= file_import_session.file_name%>">
                        <td><%= file_import_session.file_name%></td>
                        <td><%= l(file_import_session.created_at, format: :long)%></td>
                        
                        <td align="right">
                            <%= link_to file_import_session_path(file_import_session), class: "btn btn-outline-warning" do %> 
                                <i class="fa fa-eye"></i>
                            <% end %>
                        </td>
                    </tr>
                    <% end %>
                <% end %>
            </tbody>
        </table>
        <%= will_paginate @file_import_session %>
    </div>
</div>