<div class="card">
    <div class="card-header">
        <%= FileImportSession.model_name.human %>: <strong><%= @file_import_session.file_name%> - <%= l @file_import_session.created_at, format: :long%></strong>
    </div>
    <div class="card-body">
        <p><%= t('file_import_sessions.show.warnings', warnings: @file_import_session.file_import_log_entries.count)%> </p>

        <table class="table table-responsive-sm table-striped">
            <thead>
                <tr>
                    <th><%= t 'activerecord.attributes.file_import_log_entry.line_number'%></th>
                    <th><%= t 'activerecord.attributes.file_import_log_entry.warning'%></th>
                    <th><%= t 'activerecord.attributes.file_import_log_entry.line_content'%></th>
                </tr>
            </thead>
            <tbody>
                <% cache(@file_import_session.file_import_log_entries) do%>
                    <% @file_import_session.file_import_log_entries.each do |log| %>
                    <tr>
                        <td><%= log.line_number%></td>
                        <td><%= log.warning%></td>
                        <td><%= log.line_content%></td>
                    </tr>
                    <% end %>
                <% end %>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
      <%= link_to t('general.close'), file_import_sessions_path, class: "btn btn-danger"%>
    </div>
</div>
