 <%= form_tag search_path, method: :get, class: "navbar-form-custom", role: "search" do %>
    <div class="form-group">
    <%= text_field_tag :q, nil, class: 'form-control', placeholder: t('general.search') %>
    </div>
<% end %>
<% unless @search_result.blank? %>
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> <%= t('search.results_summary', total: @search_result.total, query: params[:q]).html_safe%>
        </div>
        <div class="card-body">
          <% @search_result.results.each do |item| %>
            <div class="hr-line-dashed"></div>
            <div class="search-result">
                <h3><%= link_to item.title, item_path(item), class:'search-link' %></h3>
                <p>
                    <%= item.summary %>
                </p>
            </div>
          <% end %>
          <%= will_paginate @search_result.hits%>
        </div>
    </div>
</div>
<% end %>