<div class="card">
    <div class="card-header">
        <i class="fa fa-align-justify"></i> <%= Item.model_name.human.pluralize%> 
        <%= select_tag :category_id, options_from_collection_for_select(Category.all, :id, :name, params[:category_id]), prompt: I18n.t('general.select_category') %>
    </div>
    <div class="card-body">
        <table class="table table-responsive-sm table-striped">
            <thead>
                <tr>
                    <th><%= t 'activerecord.attributes.item.title'%></th>
                    <th><%= t 'activerecord.attributes.item.bates_number'%></th>
                    <th><%= t 'activerecord.attributes.item.category'%></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% cache(@items) do%>
                    <% @items.each do |item| %>
                    <tr title="<%= item.title%>">
                        <td><%= item.title%></td>
                        <td><%= item.bates_number%></td>
                        <td><%= item.category.name%></td>
                        
                        <td align="right">
                            <%= link_to item_path(item), class: "btn btn-outline-warning" do %> 
                                <i class="fa fa-eye"></i>
                            <% end %>
                        </td>
                    </tr>
                    <% end %>
                <% end %>
            </tbody>
        </table>
        <%= will_paginate @items %>
    </div>
</div>