
<div class="card">
    <div class="card-header">
        <%= Item.model_name.human %>: <strong><%= @item.bates_number%></strong>
    </div>
    <div class="card-body">
        <p class="card-title"><strong><%= @item.category.name%></strong></p>
        <p class="card-text"><%= t('activerecord.attributes.item.summary')%>: <%= @item.summary %></p>
    </div>
    <div class="card-footer">
      <%= link_to t('general.close'), items_path, class: "btn btn-danger"%>
    </div>
</div>
